<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Create page</title>
</head>
<html>

<body>

	<h3>Software creation</h3>
	<a href="{{ url_for('webapp_list') }}" style="text-decoration: none;">Home page</a><br>
	<form action="{{ request.path }}" method="post">
		<label for="pastille">Pastille</label><br>
		<select type="text" name="pastille" id="pastille" class="form-control">
			<option value="rouge">Rouge</option>
			<option value="vert">Vert</option>
		</select><br>
		<label for="nom">Nom</label><br>
		<input type="text" name="nom" placeholder="nom" /><br>
		<label for="description">Description</label><br>
		<textarea name="description" placeholder="description"></textarea><br>
		<input type="submit" value="Submit" />
	</form>

</body>

</html>