<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>User page</title>
</head>

<body>

	<hr />
	{%- for message in get_flashed_messages() %}
	{{ message }}
	{%- endfor %}
	<table>
		<thead>
			<tr>
				<th>Pastille</th>
				<th>Nom</th>
				<th>Description</th>
				<th>ID</th>
			</tr>
		</thead>

		<tbody>
			{% for Webapp in webapps %}
			<tr>
				<td>{{ Webapp.pastille }}</td>
				<td>{{ Webapp.nom }}</td>
				<td>{{ Webapp.description }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

</body>

</html>