<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<title>Admin page</title>
</head>

<body>

	<h3><a href="{{ url_for('webapp_create') }}">Add Software</a></h3>

	<table class="display_table">
		<thead>
			<tr>
				<th>Pastille</th>
				<th>Nom</th>
				<th>Description</th>
				<th>ID</th>
			</tr>
		</thead>

		<tbody>
			{% for Webapp in webapps %}
			<tr>
				<td>{{ Webapp.pastille }}</td>
				<td>{{ Webapp.nom }}</td>
				<td>{{ Webapp.description }}</td>
				<td>{{ Webapp.id }}</td>
				<td><a href="/solistatus/{{ Webapp.id }}/delete">Delete</a></td>
				<td><a href="/solistatus/{{ Webapp.id }} ">Update</a></td>
			</tr>
			{% endfor %}

		</tbody>
	</table>

</body>

</html>